<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#81801B" />
    <link rel="icon" href="resicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Katalog Restoran</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/like">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/khairul-aqram-2b890b228/">About</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <picture>
            <source media="(max-width: 600px)" srcset="./images/hero-image_4-small.jpg">
            <img src="./images/hero-image_4-large.jpg" alt="hero image">
        </picture>

        <div class="hero__inner">
            <h2 class="hero__title">
                Welcome to our restaurant
            </h2>
            <p class="hero__tagline">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quisquam, quibusdam.
            </p>
        </div>
    </div>

    <main id="mainContent" tabindex="0"></main>

    <footer>
        <p>
            Copyright © 2022 - Katalog Restoran
        </p>
    </footer>

</body>

</html>